body {
  background-color: #F8F8F8;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #333333;
}

pre {
  padding: 15px;
  background-color: #F0F0F0;
  border-radius: 12px;
  width: 90%;
  max-width: 360px;
  text-align: center;
  margin: auto;
  color: #1b3969;
}

.title {
  text-align: center;
  color: #1b3969;
  margin-top: 60px;

  &--small {
    font-size: 18px;
  }
}

button {
  border: none;
  background: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  transition: all .3s ease;
  font-size: 16px;

  &:hover {
    cursor: pointer;
  }

  &:active:not(:disabled) {
    filter: brightness(120%);
  }

  &:disabled {
    filter: grayscale(100%);
    opacity: .6;
    cursor: not-allowed;
  }
}
